<html>

<head>

  {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'gestionVacunatorio/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'gestionVacunatorio/css/gestion.css' %}" rel="stylesheet">
</head>


<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      
        <span class="site-heading-lower">Control del vacunatorio</span>
      </h1>

      {% if messages %}
  
      {% for message in messages %}
      <center>
        <div  class="alert alert-success" role="alert" style="width: 350px;">
          {{message}}
        </div>
      </center>
      {% endfor %}

  {% endif %}



 
  <div style= "text-align:right; margin-right:100px;color:white;">

    Hola {{request.session.user.name}}
    <br>
    {% if request.session.user.admin == False %}
    Zona: {{request.session.user.zone}}
    {% endif %}
    
    </div>
  </div>

   <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="home.html">Gestión de Pedidos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="../HomeAdmin/">Inicio</a>
        </li>
        {% if request.session.user.admin == False %}
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="../carga_usuario/">Cargar Usuario</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="../listar_turno_zona/">Listar turnos de la zona</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="../formulario_de_usuario/">Modificar formulario de usuario</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="../lista_asignar_turno/">Asignar turno</a>
        </li>
        {% endif %}

        {% if request.session.user.admin %}
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href='../gestion_de_vacunadores/'>Gestion de Vacunadores</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href='../listar_vacunatorios/'>Lista de Vacunatorios</a>
        </li> 
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href='../listarTurnosDia/'>Listar turnos en el dia</a>
        </li>       
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href='../listar_solicitudes/'>Solicitudes de fiebre amarilla</a>
        </li>
        <li class="nav-item active px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="../listar_historiales">Historiales de vacunas</a>
        </li> 
        {% endif %}
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href='../foroAdmin/'>Foro</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="../cierre_de_sesion/">Cerrar Sesión</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>



   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'gestionVacunatorio/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">Organizacion sin igual</span>
          </h2>
          <p class="mb-3">Con todos los apartados intuitivos y automaticos donde solicitar un turno sera el menor de sus problemas
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Con muchos años de experiencia a nuestras espaldas, desde VacunAssist tenemos los conocimientos y herramientas necesarios para llevar cualquier registro y aplicacion de vacuna con total profesionalidad.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
        <p class="m-0 mbt1">&copy; VacunAssist 2022</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'gestionVacunatorio/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'gestionVacunatorio/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>